* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.App {
  max-width: 900px;
  margin: 0 auto;
}

.signature-container {
  max-width: 100%;
  max-height: 70%;
  border: 1px solid #333;
}

.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1.4rem;
  border-radius: 5px;
}

h1 {
  text-align: center;
  /* margin: 0; */
}

.red {
  background-color: rgb(216, 105, 105);
}

.green {
  background-color: rgb(115, 211, 115);

  color: aliceblue;
}

input {
  max-width: 300px;
  margin-bottom: 10px;
}
