@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.users-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: white;
}

/* 
 */

.profile-details-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .profile-details-container {
    flex-direction: column;
  }
}

.profile-photo {
  flex: 1;
}

.profile-photo img {
  width: 100%;
  height: auto;
}

.profile-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}

.profile-info h2 {
  margin-top: 0;
}

.profile-info .profile-details__item {
  margin: 5px 0;
}

.back-btn {
  cursor: pointer;
  color: rgb(212, 212, 212);
  font-size: 16px;
}
