.header {
  background: #000;
  width: 100%;
  height: 70px;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.header ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
  margin-right: 36px;
}

.logout-btn {
  background: yellow;
  padding: 5px 10px;
  border-radius: 6px;
}

.username {
  text-transform: uppercase;
  font-weight: 400;
}

.logout-btn a {
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.02em;
}
